.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  font-family: Arial;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card p {
  margin: 0;
  color: #777;
}

.card h3 {
  margin: 5px 0 0;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.3s;
}

/* 🔵 PRIMEIRO */
.btn-azul {
  background: #007bff;
}

.btn-azul:hover {
  background: #0056b3;
}

/* 🟢 ENTRADA */
.btn-verde {
  background: #28a745;
}

.btn-verde:hover {
  background: #1e7e34;
}

/* 🔴 SAÍDA */
.btn-vermelho {
  background: #dc3545;
}

.btn-vermelho:hover{
  background: #a73641;
}

/* HISTÓRICO */
.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

/* CORES */
.ENTRADA {
  color: green;
  font-weight: bold;
}

.SAIDA {
  color: red;
  font-weight: bold;
}